body{
    background-color: #ccc1e650;
}
.burger{
    margin:100px 0px ;
}
.container h1 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
.container h2,h3{
    text-align: center;
    text-transform: uppercase;
    color: #d3a718;
    text-shadow: 0 0 10px #a8962d7e;
}
.container h3{
    color: #000000;
    text-transform: capitalize;
}
label {
    font-size: 15px;
    font-weight: 800;
}

textarea {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
}

.container {
    animation: slideIn 0.5s ease;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 200px;
    left: 25%;
    top: 50%;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0px;            
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
    display: flex;
    flex-direction: column;
}

.container button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
select{
    color: #000000;
    font-weight: bold;
    border-radius: 20px;
    background-color: #b399f050;
}
select:invalid{
    color: #999999;
}
.field{
    display: flex;
    gap: 20px;    
}
.part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 35px;     
}
.order i {
    font-size: 60px; 
    height: 30vh;   
    padding-right: 20px;  
    text-align: center;  
}
.order #line{
    border-right: 1px solid #000000;
}
.order p {
    text-align: start;
    margin: 30px 10px 0px 0px;
}
.order p a{
    display: contents;
    font-size: 15px;
    color: rgb(171, 8, 8);
       
}